.project {
    border: 1px solid var(--global-theme-color-darkened);
    border-radius: 3px;
    margin-bottom: 20px;

    .project-title a, .project-title .nolink {
        font-size: 0.8em;
        font-weight: bold;
        color: white;
        margin-left: .3em;
        float: left;
    }
    .project-date {
        float: right;
        color: white;
        font-size: .95em;
        font-variant: small-caps;
        margin-right: .3em;
    }
    .project-header {
        background: var(--global-theme-color-darkened);
        padding: .8em;
        clear: both;
        overflow: auto;
    }

    .project-body {
        //clear: both;
        overflow: auto;
        padding: .8em 1.5em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .project-image {
        border-radius: 3px;
        object-fit: scale-down;
    }
    .project-text p {
        font-size: 1.05em;
        padding-right: .7em;
    }
}

@media (max-width: 576px) {
    .project-image, .project-date {
        display: none;
    }
    .profile img {
        max-width: 250px;
        margin-bottom: 1.5rem;
    }
}

.news {
    padding-top: 1.75rem;
}

.publications {
    padding-top: 0.25rem;
}